<section class="breadcrumb" style="padding-top: 120px;">
    <div class="container">
        <div class="content">
            <h1>SHOP</h1>
            <ul>
                <li>HOME</li>
                <li>PRODUCT DETAILS</li>
            </ul>
        </div>
    </div>
</section>