@{
    var topSelling = ViewBag.Topselling;
} @if (topSelling != null)
{
    <section class="top-selling">
  <div class="container-fluid">
    <h1 class="collection-title">Top selling products in this week</h1>
    <div class="collection-grid">
      @foreach (var product in topSelling)
                {
              <partial
                name="/Views/Partials/HomePartials/_TopSellingItem.cshtml"
                model="product"
              />
                }
        </div>
        <div class="load-more">
          <button class="btn-outline-white me-1">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button class="btn-outline-white ms-1">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </section>
} 
