@{
    ViewData["Title"] = "Back Office";
}

<div class="container-admin">
  <a class="btn-theme m-2" asp-controller="user" asp-action="index"
    >GET ALL ADMINS/USERS</a
  >
  <a class="btn-theme m-2" asp-controller="products" asp-action="index"
    >GET All PRODUCTS</a
  >
  <a class="btn-theme m-2" asp-controller="contact" asp-action="readcontacts"
    >GET ALL MESSAGES</a
  >
  <a class="btn-theme m-2" asp-controller="categories" asp-action="index"
    >GET ALL CATEGORIES</a
  >
  <a class="btn-theme m-2" asp-controller="tag" asp-action="index"
    >GET ALL TAGS</a
  >
</div>
