@model LoginViewModel
@{
    ViewData["Title"] = "Login to your acount";
}

<section class="login-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>
        <div asp-validation-summary="ModelOnly"></div>

        <form asp-route-ReturnUrl="@Model.ReturnUrl" method="post" novalidate>
            <div class="email-login form-group">
                <div class="label-login">
                    <label asp-for="Email"></label>
                    <a asp-controller="accout" asp-action="register">Don´t have an acount yet?</a>
                </div>
                <input asp-for="Email">
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="empty-login"></div>
            <div class="password-login form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="empty-login"></div>
            <div class="rememberMe form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="empty-login"></div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>